body {
    background-color: #2F2F2F;
    //background: url("/img/background.jpg");
}

#background {
    position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('/img/parquet.jpg');
}


#game {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 800px;
    width: 800px;
}