<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/CSS/style.css">
		<title>CarNage</title>
	</head>
	<body>
        <div id="game">
		    <canvas id="background" width="800px" height="800px">Votre navigateur n'est pas prêt pour ce jeu...</canvas>
        </div>
        <audio id="son" hidden></audio>
		<script src="/JS/socket.io.js"></script>
        <script src="/JS/globals.js"></script>
		<script src="/JS/objets_map.js"></script>
		<script src="/JS/objets_joueur.js"></script>
        <script src="/JS/maps.js"></script>
		<script src="/JS/fonctions.js"></script>
        <script src="/JS/menu.js"></script>
		<script src="/JS/map_generator.js"></script>
        <script src="/JS/events.js"></script>
        <!-- img loading -->
		<img src="/img/logo.png" style="display:none;"/>
		<img src="/img/ball.png" style="display:none;"/>
		<img src="/img/explosion.png" style="display:none;"/>
		<img src="/img/voiture1.png" style="display:none;"/>
		<img src="/img/voiture2.png" style="display:none;"/>
		<img src="/img/voiture3.png" style="display:none;"/>
		<img src="/img/voiture4.png" style="display:none;"/>
		<img src="/img/parquet.jpg" style="display:none;"/>
		<!-- end img loading -->
	</body>
</html>